ul,
ol,
li {
  list-style: none;
}

.main-bg {
  height: 100vh;
  width: 100vw;
  background: url("/img/theater-bg.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-theater {
  position: relative;
  width: 85%;
  aspect-ratio: 16/9;
  background: url("/img/theater-board.png") center/contain no-repeat;
  background-size: contain;
}

.left {
  position: absolute;
  width: 46%;
  top: 9%;
  left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.left img {
  width: 100%;
  height: auto;
}

.left::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 15%;
  aspect-ratio: 1/1;
  background: url("/img/play.png") center/contain no-repeat;
}

.right {
  position: absolute;
  top: 9%;
  left: 50%;
}
.right img {
  width: 96%;
}

.tab {
  position: absolute;
  top: -3.5%;
  right: 4.5%;
  display: flex;
  width: 95.5%;
  height: 14%;
  gap: 4%;
}
.tab li {
  display: flex;
  flex: 1;
  cursor: pointer;
}
.imgs {
  position: absolute;
  top: 15%;
  left: 1%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1%;
  width: 93%;
  height: 80%;
  overflow-y: auto;
  align-content: start;
}
.imgs img {
  width: 100%;

  cursor: pointer;
}
.popup-bg {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-inner {
  position: relative;
  width: 80%;
  aspect-ratio: 16/9;
  background-image: url("/img/theater-popup.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.popup-close {
  position: absolute;
  top: -5%;
  right: 0%;
  cursor: pointer;
  width: 8vw;
}
.popup-top {
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
}
#youtubePlayer {
  position: absolute;
  top: 15%;
  left: 17.5%;
  width: 65%;
  aspect-ratio: 16/9;
}
