.main-bg {
  height: 100vh;
  width: 100vw;
  background: url("/img/3page/worldview-bg.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.story {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50vw;
  gap: 10px;
}
.story img {
  width: 100%;
}
.story a {
  width: 80%;
  cursor: pointer;
}
.char {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
}
.char img {
  width: 100%;
}
