.main-bg3 {
  height: 100vh;
  width: 100vw;
  background: url("img/3page/worldview-bg.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.story {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  gap: 20px;
}
.story img {
  width: 100%;
}
.story a {
  width: 50%;
  cursor: pointer;
}
.char {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
}
.char img {
  width: 100%;
}
.popup-bg {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-inner {
  position: relative;
  width: 60%;
  aspect-ratio: 16/9;
  background-image: url("img/3page/worldview-popup.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.popup-btn {
  position: absolute;
  bottom: 1.2%;
  left: 50%;
  transform: translateX(-50%);
  width: 5%;
  height: 9%;
  cursor: pointer;
}
