ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-bg5 {
  background: url("/img/5page/media-bg.jpg") center/cover no-repeat;
  height: 100dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;
}
.container > ul > li {
  position: relative;
  width: 100%;
  height: 100%;
}
.container > ul > li > img {
  width: 100%;
  height: 100%;
}

.container ol img {
  max-width: 100%;
}
.page5-tab {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
.page5-tab li {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.tab01-content {
  position: absolute;
  top: 11%;
  left: 0;
  width: 96%;
  height: 80%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px 6px;
  overflow-y: auto;
}
.inner-tab1 {
  position: absolute;
  top: 12%;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1% 20px;
  gap: 5px;
}
.inner-tab1 > li {
  height: 100%;
  width: 10%;
  cursor: pointer;
}
.inner-tab1 > li > img {
  width: 100%;
  height: 100%;
}
.inner-tab-cont {
  position: absolute;
  top: 22%;
  left: 1%;
  width: 98%;
  height: 76%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  overflow-y: auto;
}
.inner-tab2 {
  display: flex;
  gap: 6px;
  align-items: center;
}
.inner-tab2-img {
  width: 100%;
  display: flex;
  object-fit: cover;
  flex: 1;
}
.tab2-buttons {
  display: grid;
  width: 30%;
  grid-template-columns: repeat(2, 1fr);
  gap: 3px;
}
.tab2-buttons > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab2-buttons a {
  display: block;
  width: 100%;
  height: 100%;
}
.tab2-buttons a img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@media (max-width: 768px) {
  .tab01-content {
    grid-template-columns: repeat(2, 1fr);
    top: 13%;
    height: 70%;
    width: 90%;
  }
  .inner-tab-cont {
    grid-template-columns: repeat(1, 1fr);
    top: 25%;
    height: 70%;
    width: 98%;
  }
}
