.main-loading {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("/img/loading-bg.jpg");
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  opacity: 1;
  transition: opacity 1s;
  z-index: 9999;
}

.loading-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/img/loading-bg-mask.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.main-loading.fade-out {
  opacity: 0;
}
.loading-logo {
  position: absolute;
  bottom: 55%;
}

.loading-copyright {
  position: absolute;
  bottom: 5%;
}
.loading-bar {
  position: absolute;
  bottom: 45%;
  width: 50%;
}
.loading-bar-img {
  position: relative;
  width: 100%;
  height: 14px;
  background: rgb(29, 4, 97);
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid rgb(29, 4, 97);
  box-sizing: border-box;
}
.loading-progress {
  height: 100%;
  background: linear-gradient(90deg, #aaf166, #9eff9e);
  width: 0%;
  transition: width 0.1s ease-out;
}
.loading-indicator1 {
  position: absolute;
  bottom: 10%;
  transform: translateX(-50%) translateY(0);
}
.loading-indicator2 {
  position: absolute;
  bottom: 10%;
  transform: translateX(-55%) translateY(0);
  transition: left 0.1s ease-out;
}
.text {
  position: absolute;
  bottom: 35%;
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fade-text {
  position: absolute;
  opacity: 0;
}
.on {
  opacity: 1;
}
