.loading-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/img/loading-bg-mask.png");
  color: #fff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.loading-logo {
  position: absolute;
  bottom: 55%;
}

.loading-copyright {
  position: absolute;
  bottom: 5%;
}
.loading-bar {
  position: absolute;
  bottom: 45%;
  width: 60%;
}
.loading-bar-img {
  position: relative;
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
}
.loading-progress {
  height: 100%;
  background: linear-gradient(90deg, #f3c623, #ffdd87);
  width: 0%;
  transition: width 0.3s ease-out;
}
.loading-indicator1 {
  position: absolute;
  bottom: 10%;
  transform: translateX(-50%) translateY(0);
}
.loading-indicator2 {
  position: absolute;
  bottom: 10%;
  transform: translateX(-55%) translateY(0);
  transition: left 0.3s ease-out;
}
.text {
  position: absolute;
  bottom: 35%;
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fade-text {
  position: absolute;
  opacity: 0;
}
.fade-text.on {
  opacity: 1;
}
