.main-bg1 {
  height: 100dvh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.scroll {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: 통통 infinite ease-in-out 2s;
  z-index: 10;
}
@keyframes 통통 {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 5%;
  }
}
.content {
  position: absolute;
  bottom: 10%;
}
.home-google {
  position: absolute;

  width: 20%;
  height: 12%;
  left: 30%;
  bottom: 27.5%;
}
.home-apple {
  position: absolute;

  width: 165px;
  height: 50px;
  bottom: 27.5%;
  left: 51.2%;
}
@media (max-width: 768px) {
  .main-logo {
    width: 100%;
  }
}
