.mainBtn {
  position: fixed;
  top: 5%;
  left: 2%;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  overflow: hidden;
  outline: none;
}
.closeBtn,
.mainBtn {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.mainBtn:hover {
  opacity: 0.8;
}
.Btns {
  position: fixed;
  top: 30%;
  left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.nav-sns:hover {
  opacity: 0.8;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;

  transform: translateX(-150%);
  transition: transform 0.3s ease;
  z-index: 100;
}
.sidebar.open {
  transform: translateX(0);
}

.closeBtn {
  position: absolute;
  top: 50px;
  right: 0;
  transform: translateX(50%);
  cursor: pointer;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}
.closeBtn:hover {
  opacity: 0.8;
}
.logo {
  position: absolute;
  top: 5%;
  left: 20%;
  width: 55%;
  height: 80px;
}
.menu {
  position: absolute;
  top: 16%;
  left: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu li {
  width: 230px;
  height: 95px;
  list-style: none;
  cursor: pointer;
}
.sns {
  position: absolute;
  display: flex;
  gap: 5px;
  bottom: 16.2%;
  left: 14%;
}
.sns a {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.google {
  position: absolute;
  cursor: pointer;
  width: 164px;
  height: 50px;
  left: 23%;
  bottom: 8.7%;
}
.apple {
  position: absolute;
  cursor: pointer;
  width: 164px;
  height: 50px;
  left: 23%;
  bottom: 3%;
}
