.mainBtn {
  position: fixed;
  top: 5%;
  left: 2%;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  overflow: hidden;
  outline: none;
}
.closeBtn,
.mainBtn {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.mainBtn:hover {
  opacity: 0.8;
}
.Btns {
  position: fixed;
  top: 30%;
  left: 2%;

  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15%;
}
.nav-sns:hover {
  opacity: 0.8;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translateX(-150%);
  transition: transform 0.3s ease;
  z-index: 100;
}
.sidebar.open {
  transform: translateX(0);
}

.closeBtn {
  position: absolute;
  top: 50px;
  right: 0;
  transform: translateX(50%);
  cursor: pointer;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}
.closeBtn:hover {
  opacity: 0.8;
}
.logo {
  position: absolute;
  top: 5%;
  left: 20%;
  width: 55%;
  height: 80px;
}
.menu {
  position: absolute;
  top: 14%;
  left: 11%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  width: 78%;
  height: 40%;
}
.menu li {
  width: 100%;
  height: 40%;
  list-style: none;
  cursor: pointer;
}
.sns {
  position: absolute;
  display: flex;
  width: 71%;
  height: 5%;
  gap: 3%;
  bottom: 15%;
  left: 14%;
}
.sns a {
  display: inline-block;
  width: 25%;
  height: 100%;
  cursor: pointer;
}
.google {
  position: absolute;
  cursor: pointer;
  width: 55%;
  height: 5%;
  left: 23%;
  bottom: 7.2%;
}
.apple {
  position: absolute;
  cursor: pointer;
  width: 55%;
  height: 5%;
  left: 23%;
  bottom: 1.2%;
}
@media (max-width: 768px) {
  .Btns {
    display: none;
  }
}
